p{
  padding: 5px;
  font-size: 25px;
  border-style: solid;
  border-color: coral;
}
#ts{
  font-weight:bold;
  padding-left: 10px;
  color: lightgray;
}
#sc{
  font-weight:bold;
  padding-left: 300px;
  color: blue;
}
#st{
  color:antiquewhite;
}
div{
  width: 100%;
}
b{
  color: aquamarine;
}
#sep{
  color: coral;
}